@for (task of allTasks(); track task.id) {
  <article class="flex justify-between mb-2 bg-white py-1 px-2">
    <h3>{{ task.title }}</h3>
    <div>
      @if (task.isImportant) {
        <fa-icon
          [icon]="solidStar"
          class="text-sky-400"
          (click)="onToggleImportant(task)"
        ></fa-icon>
      } @else {
        <fa-icon
          [icon]="regularStar"
          class="text-gray-400"
          (click)="onToggleImportant(task)"
        ></fa-icon>
      }
      @if (task.isComplete) {
        <fa-icon
          [icon]="solidCheck"
          class="text-sky-400"
          (click)="onToggleCompleted(task)"
        ></fa-icon>
      } @else {
        <fa-icon
          [icon]="regularCheck"
          class="text-gray-400"
          (click)="onToggleCompleted(task)"
        ></fa-icon>
      }
    </div>
  </article>
}
